.navbar-brand{
  width: 264px;
  height: 254px;
  border-radius: 50%;
  background-color: $main_color;
  box-shadow: 0 0 40px rgba(86, 86, 86, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .brand{
    width: 80%;
    font-size: 14px;
    color: #020202;
    display: block;
    margin: 0;
  text-align: center;
  }
}
header{

  position: relative;
  top: -47px;
  .navbar-nav{
    .nav-item active{
      color: red;
    }
    background-color: $main_color;
    box-shadow: 0 0 40px rgba(86, 86, 86, 0.3);
    border-radius: 190px;
    position: relative;
  }

   .tel{
    padding: 0.5rem 1rem;
    color: #64D370;
    background-color: #F5FAFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
   }
   .tel:hover{
    color: #F4F9FE;
    background-color: #64D370;
    border: solid white 1px;
   }

 .language {
  position: absolute;
  left: 0;
  bottom: -86px;

  ul {
    display: flex;
  }

  li {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;
    color: #020202;
    background-color: #F5FAFF;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 10px 6px;
    margin: 8px;
    .lang:hover{
      color: #F4F9FE;

    }
  }
  li:hover {

    background-color: #64D370;
  }
  li.active{
     background-color: #64D370;
     color: $main_color2;
  }

 }
 .slogan{
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.025em;
  margin-top: 180px;
  margin-bottom: 42px;
     .slogan_black{
       color: #020202;
     }
     .slogan_green{
       color: $main_color3;
     }
 }
 .booking{
   .booking_btn{
     box-shadow: 0 0 40px rgba(86, 86, 86, 0.3);
     border-radius: 190px;
     background-color: #64D370;
     font-family: "Comfortaa";
     font-style: normal;
     font-weight: bold;
     font-size: 26px;
     line-height: 133.8%;

     padding: 13px 68px;
     text-align: center;


     color: #F5FAFF;
   }
 }
   .sub_main{
     .p_black{
       // font-family: "Montserrat";
       font-size: 20px;
       font-style: normal;
       font-weight: 400;
       line-height: 20px;

       text-align: left;




     }
     .p_green{
       font-family: "Montserrat";
       font-size: 35px;
       font-style: normal;
       font-weight: 700;
       line-height: 35px;
       text-align: center;
       color: #64D370;
     }
     padding: 0 35px;
     margin-top: -15px;
     align-content: center ;
   }


}


.social_icon{
  position: absolute;
  right: 50px;
  bottom: 50px;
  .social{
    list-style: none;
    .soc_tg i {
      background-color: #850409;
      color: #ff0000;
    }
    .soc_vb i{
      background-color: #98161b;
      color: #ff0000;
    }
    .soc_ct i{
      background-color: #98161b;
      color: #ff0000;
    }
  }




}

