.left_sidebar{
  height: 100vh;
  position: absolute;
  left: 50px;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;

  ul{
    li{
      margin-bottom: 50px;
      a{
        width: 70px;
        height: 70px;
        background: #F5FAFF;
        box-shadow: 0 0 30px rgba(86, 86, 86, 0.25);
        overflow: hidden;
        border-radius: 50%;
        line-height: 100%;
        align-items: center;
        justify-content: left;
        padding-left: 16px;
        display: flex;
        transition: 0.4s;
        span{
          padding: 0 22px;
          font-size: 25px;
          color: #64D370;
        }
        .icon1{
          margin: auto;
          font-family: "Comfortaa";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 100%;
          color: #020202;

        }

        .icon{
          margin: auto;
          padding-left: 12px;
          font-family: "Comfortaa";
          font-style: normal;
          font-weight: 300;
          font-size: 26px;
          line-height: 100%;
          color: #020202;
        }
        &:hover{
          box-shadow: 0 0 30px rgba(86, 86, 86, 0.25);
          border-radius: 190px;
          width: 188px;
        }
      }
    }
  }
}