h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: black; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

button {
  color: black; }
  button:focus, button:focus-visible {
    outline: none; }

a {
  color: black; }
  a:hover {
    color: black;
    text-decoration: none; }

body {
  background-color: #E5E5E5;
  height: 5000px; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/Montserrat-Bold.eot");
  src: url("../../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserrat-Bold.woff2") format("woff2"), url("../../fonts/Montserrat-Bold.woff") format("woff"), url("../../fonts/Montserrat-Bold.ttf") format("truetype"), url("../../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Comfortaa';
  src: url("../../fonts/Comfortaa-Regular.eot");
  src: url("../../fonts/Comfortaa-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Comfortaa-Regular.woff2") format("woff2"), url("../../fonts/Comfortaa-Regular.woff") format("woff"), url("../../fonts/Comfortaa-Regular.ttf") format("truetype"), url("../../fonts/Comfortaa-Regular.svg#Comfortaa-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Montserrat';
  src: url("../../fonts/Montserrat-Regular.eot");
  src: url("../../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Montserrat-Regular.woff2") format("woff2"), url("../../fonts/Montserrat-Regular.woff") format("woff"), url("../../fonts/Montserrat-Regular.ttf") format("truetype"), url("../../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
.navbar-brand {
  width: 264px;
  height: 254px;
  border-radius: 50%;
  background-color: #F5FAFF;
  box-shadow: 0 0 40px rgba(86, 86, 86, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .navbar-brand span {
    width: 100%;
    font-size: 14px;
    color: #020202;
    display: block;
    margin: 0;
    text-align: center; }

header {
  position: relative;
  top: -47px; }
  header .navbar-nav {
    background-color: #F5FAFF;
    box-shadow: 0 0 40px rgba(86, 86, 86, 0.3);
    border-radius: 190px;
    position: relative; }
  header .nav-item active {
    color: #F4F9FE; }
  header .tel {
    padding: 0.5rem 1rem;
    color: #64D370;
    background-color: #F5FAFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px; }
  header .tel:hover {
    color: #F4F9FE;
    background-color: #64D370;
    border: solid white 1px; }

.language {
  position: absolute;
  left: 0;
  bottom: -86px; }
  .language ul {
    display: flex; }
  .language li {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 100%;
    color: #020202;
    background-color: #F5FAFF;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 10px 6px;
    margin: 8px; }
  .language li:hover {
    color: #F4F9FE;
    background-color: #64D370; }
  .language li .active {
    background-color: #64D370;
    color: #F4F9FE; }

.slogan {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.025em;
  margin-top: 180px;
  margin-bottom: 42px; }
  .slogan .slogan_black {
    color: #020202; }
  .slogan .slogan_green {
    color: #64D370; }

.booking a {
  box-shadow: 0 0 40px rgba(86, 86, 86, 0.3);
  border-radius: 190px;
  background-color: #64D370;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 133.8%;
  /* identical to box height, or 35px */
  padding: 13px 68px;
  text-align: center;
  letter-spacing: 0.025em;
  color: #F5FAFF; }

.left_sidebar {
  height: 100vh;
  position: absolute;
  left: 50px;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center; }
  .left_sidebar ul li {
    margin-bottom: 50px; }
    .left_sidebar ul li a {
      width: 70px;
      height: 70px;
      background: #F5FAFF;
      box-shadow: 0 0 30px rgba(86, 86, 86, 0.25);
      overflow: hidden;
      border-radius: 50%;
      line-height: 100%;
      align-items: center;
      justify-content: left;
      padding-left: 16px;
      display: flex;
      transition: 0.4s; }
      .left_sidebar ul li a span {
        padding: 0 22px;
        font-size: 25px;
        color: #64D370; }
      .left_sidebar ul li a:hover {
        box-shadow: 0 0 30px rgba(86, 86, 86, 0.25);
        border-radius: 190px;
        width: 188px; }

.main_screen {
  height: 100vh;
  background-image: url("../images/Ellipse-100.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat; }

/*# sourceMappingURL=style.css.map */
